*{
    margin: 0;
    padding: 0;
}

#mainDiv{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 1.5rem;
    
}

#thumbImg{
    height: 40rem;
    width: 40rem;
    margin-right: 1rem;
}

.div{

    margin-top: 0.5rem;
}